@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 212 100% 100%;
    --foreground: 212 20.2% 41.8%;
    --body: 210 14% 97.5%;
    --body-foreground: 212 20.2% 41.8%;
    --footer: 212 20.2% 41.8%;
    --footer-foreground: 0 0% 100%;
    --card: 212 100% 100%;
    --card-foreground: 212 20.2% 41.8%;
    --longform: 210 14% 97%;
    --longform-foreground: 0 0% 60.8%;
    --popover: 212 100% 100%;
    --popover-foreground: 212 20.2% 41.8%;
    --primary: 212 20.2% 41.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 90%;
    --secondary-foreground: 212 20.2% 41.8%;
    --muted: 212 30% 94%;
    --muted-foreground: 212 20% 65%;
    --accent: 225 12% 94%;
    --accent-foreground: 212 20.2% 41.8%;
    --destructive: 4 93% 38%;
    --destructive-foreground: 4 93% 98%;
    --border: 212 30% 82%;
    --input: 212 30% 70%;
    --ring: 212 30% 70%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 210 14% 97.5%;
    --sidebar-foreground: 212 20.2% 41.8%;
    --sidebar-primary: 212 20.2% 41.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 12% 94%;
    --sidebar-accent-foreground: 212 20.2% 41.8%;
    --sidebar-border: 212 30% 82%;
    --sidebar-ring: 212 30% 70%;
  }
  .dark {
    --background: 212 56% 8%;
    --foreground: 212 50% 90%;
    --body: 212 56% 5%;
    --body-foreground: 212 50% 90%;
    --footer: 212 56% 14%;
    --footer-foreground: 212 50% 90%;
    --card: 212 56% 8%;
    --card-foreground: 212 50% 90%;
    --longform: 210 14% 97%;
    --longform-foreground: 0 0% 60.8%;
    --popover: 212 50% 5%;
    --popover-foreground: 212 50% 90%;
    --primary: 212 50% 90%;
    --primary-foreground: 212 20.2% 41.8%;
    --secondary: 212 30% 20%;
    --secondary-foreground: 212 50% 90%;
    --muted: 212 56% 15%;
    --muted-foreground: 212 5% 65%;
    --accent: 212 62% 12%;
    --accent-foreground: 212 5% 95%;
    --destructive: 0 90% 40%;
    --destructive-foreground: 212 5% 100%;
    --border: 212 56% 16%;
    --input: 212 56% 18%;
    --ring: 212 20.2% 41.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
